<div>
  <button (click)="toggleNav()" class="md:hidden  text-white rounded w-full text-start text-lg p-5 border-0 rounded-0">
    <i class="fa-solid fa-bars"></i>
    </button>

  <nav [class]="{'hidden': !isNavVisible, 'flex': isNavVisible}" class=" flex-wrap  justify-between items-center p-5 w-full  md:flex">
    <div class="image w-20">
      <img [src]="image" class="w-full" alt="">
    </div>

    <div class="nav w-full md:w-1/3 flex justify-center items-center mt-4 md:mt-0">
      <ul class="flex flex-col md:flex-row justify-center items-center w-full">
        <li class="list-none"><a routerLink="/" class="no-underline font-bold text-white hover:text-white/50 cursor-pointer mx-2" routerLink="/">Home</a></li>
        <li class="list-none"><a routerLink="about" class="no-underline font-bold text-white hover:text-white/50 cursor-pointer mx-2" routerLink="/about">About</a></li>
        <li class="list-none"><a routerLink="review" class="no-underline font-bold text-white hover:text-white/50 cursor-pointer mx-2" routerLink="/review">Review</a></li>
        <li class="list-none"><a routerLink="contact" class="no-underline font-bold text-white hover:text-white/50 cursor-pointer mx-2" routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>

    <div class="social w-full md:w-1/3 flex justify-center items-center mt-4 md:mt-0">
      <ul class="flex justify-center items-center w-full">
        <li><a routerLink="#"><i class="fa-brands mx-2 text-2xl hover:text-white/50 hover:border-2 p-2 text-white fa-facebook-f"></i></a></li>
        <li><a routerLink="#"><i class="fa-brands mx-2 text-2xl hover:text-white/50 hover:border-2 p-2 text-white fa-x-twitter"></i></a></li>
        <li><a routerLink="#"><i class="fa-brands mx-2 text-2xl hover:text-white/50 hover:border-2 p-2 text-white fa-instagram"></i></a></li>
        <li><a routerLink="#"><i class="fa-brands mx-2 text-2xl hover:text-white/50 hover:border-2 p-2 text-white fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </nav>
</div>
